body {
    display: flex;
    justify-content: center;  /* Horizontally centers content */
    align-items: center;      /* Vertically centers content */
    height: auto;            /*  viewport height */
    margin: 0;                /* Remove default margin */
    background-color:rgba(151, 210, 241, 0.25)
  }
  